@import "tailwindcss";

h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}

h2 {
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

* {
  list-style: none;
}
/* Link Hover Animation */

a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: "Inconsolata";
}

p,
span {
  font-size: 1.2rem;
}

blockquote {
  background-color: #f4ebc5;
  padding: 0.4rem;
  margin: 1rem;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: #555;
  font-style: italic;
  margin: 1rem 0;
}

a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 0.3em;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
}

a:hover::after {
  transform: scaleX(1);
}
