@import "tailwindcss";

h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}

h2 {
  font-weight: 700;
  padding-bottom: 1rem;
}

* {
  list-style: none;
}
/* Link Hover Animation */

a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: "Inconsolata";
}

a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 0.3em;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
}

a:hover::after {
  transform: scaleX(1);
}
