---
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
  <h1>will turner</h1>
  <div class="flex flex-col-reverse md:flex-row">
    <p>
      hi, i'm will — a student passionate about building unique and useful
      full-stack applications. i'm currently in my final year studying Computer
      Science with a minor in Business Analytics at the University of
      Canterbury. when i'm not coding, i love creating and listening to music,
      documenting my life, and exploring the outdoors.<br /><br />shoe size:
      10us<br />
    </p>
    <img
      src="/images/aboutPic.JPG"
      alt="Will turner sitting, wearing a suit"
      class="w-1/4 mb-5 md:ml-5 flex-shrink-0 h-auto object-contain rounded-xl border-2 border-amber-950"
    />
  </div>
  <br />
  <hr class="pb-[1rem] lg:hidden" />
  <div class="flex flex-col lg:flex-row">
    <div class="flex flex-col">
      <h2>this site</h2>
      <p>built with Astro.js, Three.js, and Tailwind. hosted on Netlify</p>
    </div>
    <hr class="pb-[1rem] lg:hidden" />
    <div class="flex flex-col flex-grow-1 lg:items-end">
      <ul>
        <li class="lg:text-end">
          <h2>contact</h2>
        </li>
        <li class="lg:text-end">
          <a href="mailto:willguyturner@gmail.com">willguyturner@gmail.com</a>
        </li>
        <li class="lg:text-end">
          <h2>links</h2>
        </li>
        <li class="lg:text-end">
          <a target="_blank" href="https://github.com/williamgturner">github</a>
        </li>
        <li class="lg:text-end">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/william-turner-527026354/"
            >linkedin</a
          >
        </li>
        <li class="lg:text-end">
          <h2>resume</h2>
          <a href="/CV.pdf" download="william-turner-resume.pdf">download pdf</a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  span {
    text-align: end;
  }

  h2 {
    padding-bottom: 0;
  }
</style>
