---
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
  <h1>will turner</h1>
  <p>
    hi, I'm Will — a student passionate about building unique and useful
    full-stack applications. I'm currently in my final year studying Computer
    Science with a minor in Business Analytics at the University of Canterbury.
    When I'm not coding, I love creating and listening to music, documenting my
    life, and exploring the outdoors.
  </p>
</Layout>
