---
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
  <h1>projects</h1>
  <div class="flex flex-col">
    <div class="flex justify-between">
      <div class="flex flex-col">
        <h2 class="mr-1">algoVis</h2>
        <p class="mr-1">
          an algorithm visualiser programmed in python <a
            class="align-bottom"
            href="/algovis/">read more &gt;</a
          >
        </p>
      </div>
      <img src="/images/algoVis.png" class="h-30" />
    </div>
    <hr class="my-5" />
    <div class="flex justify-between">
      <img src="/images/algoVis.png" class="h-30" />
      <div class="flex flex-col text-right">
        <h2 class="ml-1">raycast renderer</h2>
        <p class="ml-1">
          a Wolfentstein 3D style raycast renderer programmed in C using SDL2 <a
            class="align-bottom"
            href="/raycast/">read more &gt;</a
          >
        </p>
      </div>
    </div>
  </div>
</Layout>
