---
import Head from "../components/Head.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Head>
  <Layout>
    <p>content</p>
  </Layout>
</Head>
<style>
  html,
  body {
    min-height: 100vh;
  }
</style>
