---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout>
  <h1>FXchess</h1>

  <div>
    <div
      id="add-reno-image"
      class="w-[100%] lg:w-[50%] lg:m-5 flex flex-col float-right flex-grow-0 flex-shrink-1"
    >
      <img
        class="border-2 rounded-md shadow-lg"
        src="/images/projects/chess.png"
      />
      <small
        class="text-gray-400 text-center inline-block flex-grow-0 flex-shrink-1"
        >FXchess</small
      >
    </div>
    <p>
      in order to freshen up my java skills for university, I created a basic
      chess game using JavaFX. my implementation features full movement patterns
      for each piece and capturing. it does not include castling or en passant.
    </p>
  </div>
</Layout>
