---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout>
  <h1>Home Helper</h1>

  <div>
    <div
      id="add-reno-image"
      class="w-[100%] lg:w-[50%] lg:m-5 flex flex-col float-right flex-grow-0 flex-shrink-1"
    >
      <img
        class="border-2 rounded-md shadow-lg"
        src="/images/projects/add-reno.png"
        alt="home helper"
      />
      <small
        class="text-gray-400 text-center inline-block flex-grow-0 flex-shrink-1"
        >Create New Renovation Page</small
      >
    </div>
    <p>
      As part of my Software Engineering 302 course at the University of
      Canterbury, I am currently working in a team to develop and publish a web
      app designed to assist with home renovations. The course is structured to
      emulate a professional environment, with teaching staff fulfilling roles
      such as Product Owner, Chief Technical Officer, and Quality Assurance. Our
      application, called <strong>Home Helper</strong>, allows users to register
      and create renovation records to help them plan and carry out their
      projects. Written in Java, the app utilizes technologies including Spring
      Boot, Thymeleaf, and Bootstrap.
    </p>
    <p>
      <br />
      This project has been incredibly educational — it's my first time creating
      a full-stack application from scratch. While I’ve gained many technical skills,
      I believe the most valuable lesson has been the importance of collaboration
      and soft skills in a software engineering environment.
    </p>
  </div>
</Layout>

<style>
  #add-reno-image {
  }
</style>
