---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout>
  <h1>projects</h1>
  <div class="flex flex-col">
    <div class="flex justify-between">
      <div class="flex flex-col">
        <h2 class="ml-1">Home Helper [wip]</h2>
        <p class="ml-1">
          an online tool for tracking and managing home renovation projects <a
            class="align-bottom"
            href="/projects/home-helper/">read more &gt;</a
          >
        </p>
      </div>
      <img
        alt="home helper"
        src="/images/projects/home-helper.png"
        class="h-30 mx-5 rounded-sm border-1 border-black shadow-lg"
      />
    </div>
    <hr class="my-5" />
    <div class="flex justify-between">
      <img alt="algovis" src="/images/projects/algoVis.png" class="h-30" />
      <div class="flex flex-col text-right">
        <h2 class="mr-1">algoVis</h2>
        <p class="mr-1">
          an algorithm visualiser programmed in python <a
            class="align-bottom"
            href="/projects/algovis/">read more &gt;</a
          ><br />
          <a target="_blank" href="https://github.com/williamgturner/AlgoVis"
            >github</a
          >
        </p>
      </div>
    </div>
    <hr class="my-5" />
    <div class="flex justify-between">
      <div class="flex flex-col">
        <h2 class="ml-1">raycast renderer</h2>
        <p class="ml-1">
          a <em>Wolfentstein 3D</em> style raycast renderer programmed in C using
          SDL2 <a class="align-bottom" href="/projects/raycast/"
            >read more &gt;</a
          ><br />
          <a target="_blank" href="https://github.com/williamgturner/raycaster"
            >github</a
          >
        </p>
      </div>
      <img alt="algovis" src="/images/projects/algoVis.png" class="h-30" />
    </div>
  </div>
  <hr class="my-5" />
  <div class="flex justify-between">
    <img
      src="/images/projects/ascii.png"
      class="h-30 mx-5 rounded-sm border-1 shadow-lg"
    />
    <div class="flex flex-col text-right">
      <h2 class="ml-1">ascii generator</h2>
      <p class="ml-1">
        very small python .jpg to ascii art generator CLI <a
          class="align-bottom"
          href="/projects/ascii/">read more &gt;</a
        ><br />
        <a target="_blank" href="https://github.com/williamgturner/ASCIIme"
          >github</a
        >
      </p>
    </div>
  </div>
  <hr class="my-5" />
  <div class="flex justify-between">
    <div class="flex flex-col">
      <h2 class="ml-1">FXchess</h2>
      <p class="ml-1">
        chess! written in java, using JavaFX for graphics <a
          class="align-bottom"
          href="/projects/chess/">read more &gt;</a
        ><br />
        <a target="_blank" href="https://github.com/williamgturner/chess"
          >github</a
        >
      </p>
    </div>
    <img alt="chess" src="/images/projects/chess.png" class="h-30" />
  </div>
</Layout>

<style>
  a {
    color: blue;
  }

  h2 {
    font-size: 1.5rem;
  }
</style>
