---
import Layout from "../../layouts/MainLayout.astro";
---

<Layout>
  <h1>Game Review Site</h1>

  <div>
    <div
      id="demo  "
      class="w-[100%] lg:w-[50%] lg:m-5 flex flex-col float-right flex-grow-0 flex-shrink-1"
    >
      <video  class="mx-auto" controls>
        <source src="/images/projects/demo.mp4" type="video/mp4" />
        <!-- fallback -->
        Your browser does not support the video tag.
        </video>
      <small
        class="text-gray-400 text-center inline-block flex-grow-0 flex-shrink-1"
        >Game review website</small
      >
    </div>
    <p>
      for my web computing architectures course at the University of Canterbury,
       we were tasked with creating both the back end a front end for a game review website. i chose to style my
       project using the <a href="https://jdan.github.io/98.css/">98.css</a> library; an homage to Windows 98. 
       the main technologies used in this project were React, Node.Js and Express.Js.
    </p>
    <br/>
    <p>
        a few of the pages have minimal content, as there was only so much detail given in the brief. 
        i would have loved to flesh this project out further and give it some polish; but other assignments demanded attention.
    </p>
  </div>
</Layout>

<style>
</style>
