---
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
---

<MainLayout>
  <div class="mb-5">
    <a href="/blog" class="text-xl text-black">&lt; back</a>
    <div id="post-header" class="flex flex-col md:flex-row mt-5">
      <img
        class="w-15 h-15 md:self-center mr-5 hidden md:block"
        src={`${frontmatter.image.url}`}
        alt={frontmatter.title}
      />
      <div>
        <h1 class="leading-tight md:text-7xl">{frontmatter.title}</h1>
        <small>
          {
            new Date(frontmatter.pubDate).toLocaleString("en-NZ", {
              year: "numeric",
              month: "long",
              day: "numeric",
              hour: "2-digit",
              minute: "2-digit",
              second: "2-digit",
              hour12: true,
              timeZone: "Pacific/Auckland",
            })
          }
          NZST
        </small>
      </div>
    </div>
    <hr class="my-5" />
    <slot />
  </div>
</MainLayout>

<style>
  #post-header h1 {
    padding: 0;
  } 

  a {
    font-family: "Libre Baskerville";
  }

  p {
    margin-bottom: 1rem;
  }

  img {
    border-radius: 0.375rem;
  }

  h2 {
    margin-bottom: 0rem;
  }
</style>
